@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
}

#root {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.javascript-color {
  color: #efd81d;
  font-weight: 500;
}
.react-color {
  color: #61dafb;
  font-weight: 500;
}

.react-color img {
  vertical-align: middle;
  margin-bottom: 4px;
  width: 23px;
}

.tooltip-language {
  padding: 5px 10px !important;
}

.tooltip-mode {
  padding: 5px 10px !important;
}

.tooltip-icons {
  padding: 2px 10px !important;
  background-color: #e2e2e2 !important;
  opacity: 1 !important;
  color: #424242 !important;
}

.language-btn {
  position: relative;
}

.title-line {
  width: 100px;
  height: 5px;
  background-color: #efd81d;
  border-radius: 2px;
}

.cv-download {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 8px 23px 8px 20px;
  margin: 15px 0;
  border: none;
  background-color: #fde52b;
  transition: 0.3s all ease;
}
@media (max-width: 582px) {
  .cv-download{
    font-size: 13px;
    padding: 8px 23px 8px 18px;
  }
}
.cv-download img {
  margin-right: 7px;
}

.cv-download:hover {
  background-color: #cfba1b;
  transition: 0.3s all;
}

.root-scroll {
  padding-top: 10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .me-home{
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.233));
  
} */

::-webkit-scrollbar {
  appearance: none;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 15px;
}
